:root {
  --fancy-sans: "Questrial", "Century Gothic", sans-serif;
  --pragmatic-sans: "Noto Sans", "Nimbus Sans L", "Arial", sans-serif;
  --fancy-serif: "Lustria", "Georgia", serif;
  --pragmatic-serif: "Noto Serif", "Times New Roman", serif;
  --mono-font: "JetBrains Mono", "Courier New", Consolas, monospace;

  --header-font: var(--fancy-sans);
  --body-font: var(--fancy-serif);

  --fire-1: #ffeeeb;
  --fire-2: #ffd5d1;
  --fire-3: #ffa3a3;
  --fire-4: #ff6161;
  --fire-5: #ff0000;
  --fire-6: #db0000;
  --fire-7: #ad0006;
  --fire-8: #850007;
  --fire-9: #570007;

  --water-1: #ebf5ff;
  --water-2: #d6eaff;
  --water-3: #b3d4ff;
  --water-4: #3d8eff;
  --water-5: #0000ff;
  --water-6: #0000d6;
  --water-7: #0000b8;
  --water-8: #000099;
  --water-9: #001861;

  --yang: #ffffff;
  --qi-1: #f2f2f2;
  --qi-2: #e0e0e0;
  --qi-3: #cccccc;
  --qi-4: #a6a6a6;
  --qi-5: #7f7f7f;
  --qi-6: #666666;
  --qi-7: #4d4d4d;
  --qi-8: #333333;
  --qi-9: #1a1a1a;
  --yin: #000000;

  --wind-1: #e6ffe6;
  --wind-2: #ccffcc;
  --wind-3: #b8ffb8;
  --wind-4: #85ff85;
  --wind-5: #00ff00;
  --wind-6: #00d600;
  --wind-7: #00a800;
  --wind-8: #006608;
  --wind-9: #003300;

  --earth-1: #ffffd6;
  --earth-2: #fffbbd;
  --earth-3: #fffa99;
  --earth-4: #fffc66;
  --earth-5: #ffff00;
  --earth-6: #faed00;
  --earth-7: #d6c400;
  --earth-8: #8f7700;
  --earth-9: #423600;

  --blockquote-border: var(--qi-3);
  --clr-body: var(--qi-9);
}

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: var(--pragmatic-sans);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.view-content {
  padding-left: 1em;
  padding-right: 1em;
}

.view-header {
  align-items: center;

  & .view-header-title-container {
    display: flex;
    justify-content: center;
  }

  & .view-header-title {
    font-family: var(--header-font);
    padding: 0;
  }

  & .view-actions {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}

.markdown-source-view,
.markdown-preview-view {
  color: var(--clr-body);
  padding: 0;
  padding-top: 36px;
}

.cm-s-obsidian {
  font-size: 18px;
  /* & .cm-hmd-internal-link {
    color: var(--fire-4);
  } */

  & span {
    &.cm-footref {
      text-indent: 0;
    }
    &.cm-inline-code {
      font-size: unset;
    }
    &.cm-meta {
      color: var(--clr-yin);
    }
  }

  & pre.CodeMirror-line.HyperMD-list-line,
  & pre.CodeMirror-line-like.HyperMD-list-line {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
}

.markdown-preview-view {
  font-family: var(--body-font);
  line-height: 1.6;

  &::-webkit-scrollbar {
    display: none;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--header-font);
    line-height: 1.2;
  }

  & h1 {
    margin-top: 2em;
    font-size: 1.5em;
  }
  & h2 {
    margin-top: 1.5em;
    font-size: 1.25em;
  }

  & h3 {
    margin-top: 1.25em;
    font-size: 1.1em;
    font-weight: 700;
  }

  & p > code,
  & li > code {
    background: var(--qi-1);
  }

  & blockquote {
    border: none;
    border-left: 5px solid;
    border-color: var(--qi-3);
    font-size: 85%;
    line-height: 1.6;
    margin-bottom: 0;
  }

  & .markdown-preview-section {
    /* "Metadata block" styles
      This is in case I decide to implement a "metadata block" in the future */
    /* &:first-child {
      font-size: 80%;
      background: var(--qi-1);
      padding: 1em;
      border-radius: 5px;
    } */

    & ol li,
    & ul li {
      padding-top: 0.35em;
      padding-bottom: 0.35em;

      & p {
        margin: 0;
      }
    }

    & .tag:not(.token) {
      font-size: 100%;
      font-color: blue;
    }
  }

  & .internal-link,
  & .external-link {
    color: var(--clr-body);
  }

  & .footnote-ref {
    font-size: 14px;
  }

  & .footnotes {
    font-size: 16px;
  }
}

.title {
  font-weight: 600 !important;
}

.side-dock.mod-right {
  border-left: none;
}

.nav-file-title.is-active,
.vertical-tab-nav-item.is-active,
.workspace-leaf-content[data-type="tag"] .nav-action-button.is-active,
.workspace-tab-header.is-active,
.nav-folder .nav-folder-title-content {
  color: var(--text-accent);
}
.nav-folder.is-collapsed .nav-folder-title-content {
  color: unset;
}

.nav-file-title-content,
.nav-folder.is-collapsed .nav-folder-title-content,
.side-dock-ribbon-action,
.nav-action-button,
.workspace-tab-header-inner-icon,
.workspace-ribbon-collapse-btn,
.vertical-tab-nav-item,
.internal-link,
.external-link {
  transition: color 0.1s ease;

  &:hover {
    color: var(--text-accent);
  }
}

.nav-file-title:hover .nav-file-title-content,
.tree-item:hover .tree-item-inner,
.tree-item:hover .tag-pane-tag-count {
  transition: color 0.1s ease;

  color: var(--text-accent);
}

.nav-file-title-content {
  padding-top: 1px;
  padding-bottom: 1px;
}

.CodeMirror {
  padding: 0;
}

.CodeMirror-vscrollbar {
  height: 0;
}

/* Saving these for later from a theme on the Obsidian Discord; */
/* might use them */

/* strong {
  font-weight: bolder;
} */

/* mark {
  background-color: var(--text-mark) !important;
} */

/* th {
  font-weight: 600 !important;
} */

/* thead {
  border-bottom: 2px solid var(--background-modifier-border);
} */
